{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block stylesheets %}
    {{ parent() }} 
    <link rel="stylesheet" href="{{asset("assets/css/annonce.css")}}">
    <link rel="stylesheet" href="{{asset("assets/css/avis.css")}}">
    <link rel="stylesheet" href="{{asset("assets/css/starsWithoutHover.css")}}">

{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
<div class="main">
    <div class="container">
        <div class="right-content avis-page">

            <div class="box-section">
                <div class="head">
                    <img src="https://izidore.com/img/icons/map-pin.svg" alt="" />
                    <p class="title-black-light">Challans, 85300</p>
                </div>
                <div class="body">
                    <div class="profil">
                        <div class="picture">
                            <img src="https://cdn.izidore.com/media/cache/profile_picture/6fc85d0ec6a3c7dca04ae7aee980ae12.jpg" alt="">

                        </div>

                        <div class="information">
                            <p class="title-black-light p-20">
                                {{user.username}}
                            </p>
                                <a href="" class="review-link">
                                <div class="score">
                                    {% include 'includes/starRating.html.twig' with {'note': average} %}
                                    <p class="semi-bold">{{average}}</p>
                                    <p class="avis">({{nombreAvis}} {% if nombreAvis >1 %}
                                        avis
                                        {% else %}
                                        avi
                                    {% endif %} )</p>
                                
                                </div>
                                </a>
                            <span class="evaluation-content">75 annonces publiées</span>

                         </div>
                    </div>

                    <br>

                <div class="info-vendeur ">
                    <p classe="title">Promotion</p>
                        <div class="details">
                            <i class="fa-solid fa-tags"></i>
                            <p>				-10% à partir du 2ème article
                            </p>
                        </div>
                </div>
                <div class="info-vendeur ">
                    <p classe="title">Meubles descendus</p>
                        <div class="details">
                        <i class="fa-solid fa-arrow-down"></i>
                            <p>	User
                    s'engage à descendre ses meubles au rez-de-chaussée !
                                        </p>
                        </div>
                </div>
                <div class="info-vendeur ">
                    <p classe="title">Promotion</p>
                        <div class="details">
                        <i class="fa-regular fa-calendar-days"></i>
                        <div class="calender">
                        <p>Semaine: <strong>de 8h à 20h</strong></p>
                        <p>Weekend: <strong>de 8h à 20h</strong></p>
                </div>
                        
                        
            </div>
            <div class="primary-button">Entrer en contact</div>
                </div>
                

                </div>

            </div>
        </div>
        <div class="avis-container">
        <div class="avis">
                <h2 class="bold">Compliments reçus (100)</h2>
                <div class="compl">
                    <div class="compl-child">
                        <img src="{{asset("assets/images/communicate.png")}}" alt="">
                        <p>Communication facile</p>
                        <div class="compl-chil-number">35</div>
                    </div>
                    <div class="compl-child">
                        <img src="{{asset("assets/images/pay.jpg")}}" alt="image">
                        <p>Rapport qualité-prix</p>
                        <div class="compl-chil-number">40</div>

                    </div>
                    <div class="compl-child">
                        <img src="{{asset("assets/images/livraison.png")}}" alt="image">
                        <p>Rapidité de la livraison</p>
                        <div class="compl-chil-number">10</div>

                    </div>
                    <div class="compl-child">
                        <img src="{{asset("assets/images/quality-check.png")}}" alt="image">
                        <p>Conformité aux attentes</p>
                      <div class="compl-chil-number">25</div>
                       
                 </div>

            </div>
            
                <h2 class="bold">Avis et commentaires</h2>
                <div class="avis-resume">
                    <div class="avis-resume-chiffre">
                        <h1>{{average}}</h1>
                        <div class="stars">{% include 'includes/starRating.html.twig' with {'note': average} %}</div>
                        <p>({{nombreAvis}} {% if nombreAvis >1 %}
                            avis
                            {% else %}
                            avi
                        {% endif %} )</p>
                    </div>
                    <div class="avis-resume-progress_bar">

                    {% for index in (notes|length - 1)..0 %}
                        <div class="flex">
                          <p class="number">{{notes[index]}}</p>
                            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: {{ pourcentages[notes[index]] }}%"></div>
                            </div>
                        </div>
                    {% endfor %}
                       
                      
                    
                        
                    
                            
                   
                           
            
                    </div>

                </div>
        <br>
                {# boucle sur les avis reçus #}
                <div class="evaluations">
                    {% for avi  in avis | reverse  %}
                            <div class="evaluations-child">
                    <div class="profil user">
                        <div class="picture user">
                            <img src="https://cdn.izidore.com/media/cache/profile_picture/6fc85d0ec6a3c7dca04ae7aee980ae12.jpg" alt="">

                        </div>

                        <div class="information">
                            <p class="title-black-light p-20 acheteur">
                                {{avi.acheteurField.username}}
                            </p>
                            <div  class="review-link">
                                <div class="score">
                                   {% include 'includes/starRating.html.twig' with {'note': avi.note } %}

                                
                                </div>
                            </div>
                             <span class="evaluation-content">{{avi.contenu}} </span>
                        </div>
                    </div>
                    <span class="creation-date">{{avi.dateCreation|date('H:i, d-m-Y') }}</span>
                  </div>
                  <div class="devider"></div>
                {% endfor %}
                    </div>
                {# end boucle #}



               


    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="{{asset("assets/js/starRating.js")}}" defer></script>
{% endblock %}

   
