{% extends 'base.html.twig' %}

{% block title %}
    Annonce page 
{% endblock %}

{% block stylesheets %}
    {{ parent() }} 
    <link rel="stylesheet" href="{{asset("assets/css/annonce.css")}}">
{% endblock %}
{% block body %}
{% include 'header.html.twig' %}
<div class="main">
<div class="container">
    <div class="left-content">
        <img src="{{asset("assets/images/main-left-content.png")}}" alt="">
        <div class="description-container">
			<p class="description-container__title">Description</p>
			<p class="description-container__text">Caractéristiques du produit :Canapé avec méridienne droite L261 x H79 x P167 (cm) Hauteur de pieds 17,5 cm. 
                Hauteur têtière relevée 89 cm Fabrication italienne Cuir Elite, colori jaune Pied en métal brillant 
                Produit exposé dans notre magasin depuis maintenant 6 mois.
            </p>
            <br>
		</div>
    </div>
    <div class="right-content">
        {% include 'includes/box-section.html.twig' %}

         <div class="review">
            <div class="profil">
                <div class="picture">
                    <img src="https://cdn.izidore.com/media/cache/profile_picture/6fc85d0ec6a3c7dca04ae7aee980ae12.jpg" alt="">
                </div>
                <div class="information">
                    <p class="title-black-light p-20">
                        {{user.username}}
                    </p>
                    <a href="{{path('app_avis_index',{'userId':userId})}}" class="review-link">
                     <div class="score">
                        <img src="{{asset("assets/images/stars.png")}}" alt="">
                        <p class="score__number"> {{average}}</p>
                        <p class="avis">({{nombreAvis}} {% if nombreAvis >1 %}
                            avis
                            {% else %}
                            avi
                        {% endif %} )</p>
                      
                    </div></a>
                   
                      <a href="#" class="localisation">Où se trouve Username ?</a>
                </div>
            </div>
         </div>
    </div>
</div>
</div>


    
{% endblock %}